* {
  margin: 0;
  padding: 0;
  background-color: cadetblue;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.firstRow {
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstColumnGreen {
  border: solid 2px black;
  padding: 30px;
  background-color: green;
}

.firstColumnBlack {
  border: solid 2px black;
  padding: 30px;
  background-color: black;
}
.firstColumn {
  border: solid 2px black;
  padding: 30px;
  /* background-color: wheat; */
}
